{% extends 'ProyectoWebApp/base.html' %}

{% load static %}

{% block content %}

<!-- INICIO BLOQUE CAMBIANTE -->

<div class="container">

    <div class="container">
        <div style="float:right;">
            <!-- <p style="color:white;"> Total: {{importe_total_carro}} Є</p> -->

            {% include "carro/widget.html"  %}

        </div>
    </div>

    <div class="row">
    
        {% for producto in productos %}
    
            <div class="col">
        
                <div class="card" style="width: 300px; margin: 5px 5px;">
        
                    <img src="{{producto.imagen.url}}" class="card-img-top">
        
                    <div class="cardy-body" style="text-align:center;">
        
                        <h7 class="card-tittle"> {{producto.nombre}} </h7>
                        <p class="card-text" style="color:black">{{producto.precio}}&nbsp;€</p>
        
                    </div>

                    <div class="card-footer text-center">

                        <a href="{% url 'carro:agregar' producto.id %}" class="btn btn-success">Agregar al carro</a>

                    </div>

                </div> <!-- card que se cierra -->
        
            </div>
    
    
        {% endfor %}
    
    </div>

</div>


<!-- FIN BLOQUE CAMBIANTE -->

{% endblock %}